There are <%= pluralize(@person_count1, 'is') %> signed up

There are <%= pluralize(@person_count2, 'is') %> signed up
<br>
<%= truncate(@story, :length => 25) %>

<ul>
  <% @numbers.each do |num| %>
    <li style='background-color:<%= cycle('red', 'green', 'orange', 'purple') %>;'><%= num %></li>
  <% end %>
</ul>