<div class="row">
  <div class="three columns">
    <h1 class='title'><img src="/assets/headphones.jpeg" />Tunr</h1>
  </div>
  <div class="nine columns">
    <ul class="nav-bar right">
      <li><%= link_to('Home', root_path) %></li>
  <li class="has-flyout">
    <a href="#">Browse</a>
    <a href="#" class="flyout-toggle"><span> </span></a>
    <ul class="flyout">
      <li><%= link_to('Songs', songs_path) %></li>
      <li><%= link_to('Albums', albums_path) %></li>
      <li><%= link_to('Artists', artists_path) %></li>
      <li><%= link_to('Genres', genres_path) %></li>
    </ul>
  </li>
      <%== intellinav %>
    </ul>
  </div>
</div>



