<!DOCTYPE html>

<html class="no-js" lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />

   <title>Calorie</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag "jquery-ui/ui-lightness/jquery-ui-1.10.1.custom.min.css" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" href="stylesheets/foundation.min.css">
  <link rel="stylesheet" href="stylesheets/app.css">
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
  <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>

  <script src="javascripts/modernizr.foundation.js"></script>
</head>
<body>

  <div class="row">
    <div class="three columns">
      <h1><img src="/assets/caloriezen-logo2.jpg" /></h1>
    </div>
    <div class="nine columns">
      <ul class="nav-bar right">
        <li class = 'active'><%= link_to('Home', root_path) %></li>
        <% if !@auth.present? %>
          <li><%= link_to('Create User', new_user_path) %></li>
          <li><%= link_to('Login', login_path) %></li>
        <% else %>
          <li><%= link_to('Edit Profile', edit_user_path(@auth)) %></li>
          <li><%= link_to('MyCalories', users_path) %></li>
          <li><%= link_to(@auth.name + ', Logout', login_path, :method => :delete) %></li>
        <% end %>
      </ul>
    </div>
  </div>
<!--
  <% if flash[:notice].present? %>
<div class='row'>
  <div class='four columns alert-box alert'><%= flash[:notice] %></div>
  <div class='eight columns'></div>
</div>
<% end %> -->

<div class="row">
  <div class="nine columns">
    <%= yield %>
  </div>
</div>

<footer class="row">
  <div class="twelve columns">
    <hr />
    <div class="row">
      <div class="six columns">
        <p>&copy; Nicky Hughes Rails App 2013.</p>
      </div>
      <div class="six columns">
        <ul class="link-list right">
          <li><a href="http://nickyh.github.com/">Portfolio</a></li>
          <li><a href="http://nickyonrails.tumblr.com/">Tumblr</a></li>
          <li><a href="https://twitter.com/nichug00">Twitter</a></li>
          <li><a href="https://github.com/nickyh">Github</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

  <script src="javascripts/jquery.js"></script>
  <script src="javascripts/foundation.min.js"></script>

</body>
</html>


