.row
  .three.columns
    .controls
      .foodnew
        = button_tag 'Add Food', :id => 'new_food', :class => 'button radius btnfood'
  .three.columns
    .controls
      .mealnew
        = button_tag 'Add Meal', :id => 'new_meal', :class => 'button radius btnmeal'

  .two.columns
    .controls
      .today
        #target= link_to(@auth.target, edit_user_path(@auth), :title => 'Target calories for ' + @auth.name + ', click to edit')
        #now= Date.today.to_s(:long)
        .clear

.row
  .five.columns
    %ul#meals
      - @meals.each do |meal|
        %li.mealnamedate= meal.name
        .addfoodlink= link_to('+ Food', 'new_food_path')
        %li.mealdescription.hide= meal.description
        / %li.mealfoods= meal
        .clear

  .seven.columns
    %div.formwindow.hide
      .mealform.hide
        = form_tag do
          #formheader= 'Create New Meal'
          = label_tag :name
          = text_field_tag :name
          = label_tag :description
          = text_field_tag :description
          = label_tag :date
          = text_field_tag :date
          = label_tag :time
          = text_field_tag :time
          = hidden_field_tag :id
          = submit_tag 'Create New Meal', :id => 'create_meal', :class => 'button radius'
          = submit_tag 'Cancel', :id => 'cancel_meal', :class => 'button radius alert'

    %div.formwindow2.hide
      .foodform.hide
        = form_tag do
          #formheader= 'Add New Food'
          = label_tag :name
          = text_field_tag :name
          = label_tag :calories
          = text_field_tag :calories
          = hidden_field_tag :id
          = submit_tag 'Create New Food', :id => 'create_food', :class => 'button radius'
          = submit_tag 'Cancel', :id => 'cancel_food', :class => 'button radius alert'