<%= form_for @recipe do |f| %>

<%= f.label :name, "Recipe Name", :autofocus => 'autofocus' %>
<%= f.text_field :name %>
<%= f.label :course %>
<%= f.text_field :course %>
<%= f.label :servingsize, 'Serving Size' %>
<%= f.text_field :servingsize %>
<%= f.label :instructions %>
<%= f.text_field :instructions %>
<%= f.label :image %>
<%= f.text_field :image %>
<br>
<% Ingredient.all.each do |ingredient| %>
  <span><%= ingredient.name %></span>
  <%= check_box_tag 'recipe[ingredient_ids][]', ingredient.id, ingredient.in?(@recipe.ingredients.to_a) %>

<% end %>
<br>
<%= f.submit %>
<% binding.pry %>
<% end %>



