
<div class='recipe-section'>
  <%= image_tag(@recipe.image) %>

  <li id='li-title2'><%= @recipe.name %></li>
  <li><%= @recipe.course %></li>
  <li><%= @recipe.servingsize %></li>
  <li><%= @recipe.instructions %></li>
</div>
